/*!
 * Fotorama 4.6.2 | http://fotorama.io/license/
 */
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__html,.fotorama__img,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame{-webkit-transform:translateZ(0);transform:translateZ(0)}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus,.fotorama__nav__frame{outline:0}.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after{content:'';border-radius:inherit;background-color:rgba(0,175,234,.5)}.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft{-webkit-transform:none!important;transform:none!important}.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{transition-property:-webkit-transform,width;transition-property:transform,width;transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-duration:0ms}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fotorama__nav,.fotorama__nav__frame{margin:auto;padding:0}.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft{-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}.fotorama__wrap *{box-sizing:content-box}.fotorama__caption__wrap{box-sizing:border-box}.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{-webkit-tap-highlight-color:transparent}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(fotorama.png) no-repeat}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:2dppx){.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(fotorama@2x.png) no-repeat;background-size:96px 160px}}.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}@media print{.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play{background:none!important}}.fotorama{min-width:1px;overflow:hidden}.fotorama:not(.fotorama--unobtrusive)>:not(:first-child){display:none}.fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage{background:#000}.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr;z-index:0}.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}.fotorama__nav,.fotorama__stage{overflow:hidden;position:relative;max-width:100%}.fotorama__wrap--pan-y{-ms-touch-action:pan-y}.fotorama__wrap .fotorama__pointer{cursor:pointer}.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}.fotorama__stage__frame{overflow:hidden}.fotorama__stage__frame.fotorama__active{z-index:8}.fotorama__wrap--fade .fotorama__stage__frame{display:none}.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active{display:block;left:0;top:0}.fotorama__wrap--fade .fotorama__fade-front{z-index:8}.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}.fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;border:none!important}.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img{-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage{max-width:99999px!important}.fotorama__wrap--only-active .fotorama__stage__frame{visibility:hidden}.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}.fotorama__nav__frame{position:relative;cursor:pointer}.fotorama__nav--dots{display:block}.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}.fotorama__nav--thumbs{display:block}.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}.fotorama__dot{display:block;width:4px;height:4px;position:relative;top:12px;left:6px;border-radius:6px;border:1px solid #7f7f7f}.fotorama__nav__frame:focus .fotorama__dot:after{padding:1px;top:-1px;left:-1px}.fotorama__nav__frame.fotorama__active .fotorama__dot{width:0;height:0;border-width:3px}.fotorama__nav__frame.fotorama__active .fotorama__dot:after{padding:3px;top:-3px;left:-3px}.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}.fotorama__nav__frame:focus .fotorama__thumb{z-index:2}.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))}.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption{display:none}.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img{transition-property:opacity;transition-timing-function:linear;transition-duration:.3s}.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}.fotorama__select{cursor:auto}.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}@-moz-document url-prefix(){.fotorama__active{box-shadow:0 0 0 transparent}}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{position:absolute;z-index:11;cursor:pointer}.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}.fotorama__arr--prev{left:2px;background-position:0 0}.fotorama__arr--next{right:2px;background-position:-32px 0}.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}.fotorama__fullscreen-icon{width:32px;height:32px;top:2px;right:2px;background-position:0 -32px;z-index:20}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus{border-radius:50%}.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;opacity:0}.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play,.fotorama__nav__frame .fotorama__video-play{opacity:1;display:block}.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px}.fotorama__video-close{width:32px;height:32px;top:0;right:0;background-position:-64px 0;z-index:20;opacity:0}.fotorama__wrap--css2 .fotorama__video-close{display:none}.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--video .fotorama__video-close{display:block;opacity:1}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{opacity:0}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{opacity:1}.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{opacity:0!important}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{display:none}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{display:block}.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon{display:none!important}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){-webkit-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){-webkit-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{-webkit-transform:translate3d(32px,-32px,0)!important;transform:translate3d(32px,-32px,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{-webkit-transform:translate3d(-48px,0,0)!important;transform:translate3d(-48px,0,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{-webkit-transform:translate3d(48px,0,0)!important;transform:translate3d(48px,0,0)!important}.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.3s}.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}.fotorama__nav:before,.fotorama__stage:before{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before{left:0}.fotorama__nav:after,.fotorama__stage:after{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after{right:0}.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before{display:none}





html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: "PT Sans", Arial, sans-serif; 
}




.wrapper{
  width: 90%;
  min-width: 1100px;
  max-width: 1400px;
  margin: 0 auto;
}
h1{
  font-size: 42px;
  line-height: 42px;
  font-weight: 400;
}

article h1{
  margin-bottom: 0;
}
article p{
  font-size: 18px;
  color: #666666;
  line-height: 28px;
  padding: 14px 0;
  margin: 0;
}
article a{
  color: #156da5;
}
article a:hover{
  color: #d72e5c;
}

.rounded-button{
  background-color: #d72e5c;
  line-height: 55px;
  padding: 0 50px;
  font-size: 18px;
  border-radius: 30px;
  color: #ffffff; 
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.2s;
}
.rounded-button:hover{
  background-color: #ed5d84;
}
.pseudo{
  text-decoration: none;
  border-bottom: 1px dotted #156da5;
}
.pseudo:hover{
  border-bottom-color: #d72e5c;
}



.header-top{
  padding-top: 15px;
  padding-bottom: 15px;
}




.language-list{
  display: inline-block;
  width: 8%;
}
.language-list .language-current{
  border: 1px solid #cecece;
  color: #156da5;
  line-height: 30px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  width: 55px;
  text-align: center;
  padding-left: 5px;
}
.language-list .language-current.hover{
  background: #fafafa;
}
.language-list .language-current.active{
  background-color: #f4f4f4;
  color: #000000;
  box-shadow: 0 0 5px #cccccc inset;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.language-list .language-current:after{
  content: "";
  display: inline-block;
  width: 12px;
  height: 10px;
  background: url("../images/icon-down-arrow.png") no-repeat center center;
}
.language-list .language-popup{
  border: 1px solid #cccccc;
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  background-color: white;
  width: 55px;
  top:30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.language-list .language-popup li a{
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #156da5;
  line-height: 30px;
  display: block;
  border-radius: 2px;
}
.language-list .language-popup li a:hover{
  background-color: #f4f4f4;
  text-decoration: none;
}




.menu-header-top{
  float: right;
  text-align: right;
  display: inline-block;
  width: 90%;
  padding-top: 4px;
}
.menu-header-top a.menu-item{
  color: #656565;
  margin-left: 3%;
  font-size: 17px;
  text-decoration: none;
}
.menu-header-top a.menu-item:hover{
  color: #d72e5c;
}
.menu-item-cabinet:before{
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/icon-cabinet.png");
  display: inline-block;
  margin-right: 8px;
  vertical-align: -1px;
}

.header-bottom{
  padding-top: 18px;
  position: relative;
}




.logo{
  display: block;
  float: left;
}



.header-bottom-banner{
  position: absolute;
  left: 30%;
  top: 10px;
}
.header-bottom-banner img{
  border-radius: 5px;
  border: #dadada 1px solid;
}



.header-bottom-right{
  float: right;
  width: 50%;
  text-align: right;
  margin-top: -7px;
}

.header-bottom-right .phone{
  font-size: 42px;
  line-height: 20px;
}
.header-bottom-right .phone:before{
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 25px;
  height: 25px;
  background: url("../images/icon-phone.png") center center no-repeat;
}
.header-bottom-right .phone-slash{
  vertical-align: -4px;
  margin: 0 8px;
}
.header-bottom-right .phone-short{
  text-decoration: none;
  color: #156da5;
  border-bottom: 1px dotted #156da5;
  line-height: 46px;
  display: inline-block;
}
.header-bottom-right .phone-short:hover{
  color: #d72e5c;
  border-bottom-color: #d72e5c;

}
.menu-header-bottom{
  text-align: right;
  padding-top: 13px;
}
.menu-header-bottom .menu-item{
  margin-left: 3%;
  color: #156da5;
  font-size: 17px;
  text-decoration: none;
}
.menu-header-bottom .menu-item-icon{
  vertical-align: -3px;
}
.menu-header-bottom .menu-item:hover{
  color: #d72e5c;
}
.grey{
  color: #d4d4d3;
}




.menu-product{
  padding: 0;
  padding-top: 20px;
  margin: 0;
  min-width: 1100px;
  padding-bottom: 15px;
}
.menu-product .menu-product-item{
  width: 25%;
  list-style: none;
  float:left;
}
.menu-product .menu-product-item a{
  background-color: #065389;
  border: 1px solid white;
  display: block;
  padding-top: 24px;
  height: 120px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  transition: background-color .2s;
}
.menu-product .menu-product-item a:hover{
  background-color: #1f81bf!important;
}
.menu-product .menu-product-item:first-child a{
  border-left: none!important;
}
.menu-product .menu-product-item:nth-child(1) a{
  background-color: #065389;
}
.menu-product .menu-product-item:nth-child(2) a{
  background-color: #106296;
}
.menu-product .menu-product-item:nth-child(3) a{
  background-color: #156da5;
}
.menu-product .menu-product-item:nth-child(4) a{
  background-color: #1d76ae;
}
.menu-product .menu-product-item:last-child a{
  border-right: none!important;
}



.fotorama{
  padding-top: 20px;
}
.fotorama .fotorama__nav__frame.fotorama__active .fotorama__dot, .fotorama .fotorama__nav__frame .fotorama__dot{
  width: 8px;
  height: 8px;
  border: 1px solid #156da5;
  background-color: white;
}
.fotorama .fotorama__nav__frame.fotorama__active .fotorama__dot{
  background-color: #156da5;
}
.fotorama__nav--dots .fotorama__nav__frame{
  width: 27px !important;
  margin-top: 5px;
}
.fotorama__nav-wrap{
  margin-top: -30px;
}
.fotorama__arr--next{
  background: url("../images/icon-arrow-right.png") center center no-repeat;
  right: 3%;
}
.fotorama__arr--prev{
  background: url("../images/icon-arrow-left.png") center center no-repeat;
  left: 3%;
}
.fotorama__arr{
  width: 38px;
  height: 38px;
}
.slide-left, .slide-right{
  width: 50%;
  vertical-align: middle;
  text-align: center;
}
.slide-left{
  padding: 0 5%;
}
.slide-left p{
  font-size: 18px;
  color: #656565;
  line-height: 30px;
  padding-bottom: 10px;
}




.menu-banners{
  padding: 0;
  padding-top: 25px;
  margin: 0;
  min-width: 1100px;
  padding-bottom: 25px;
}
.menu-banners .menu-banners-item{
  width: 25%;
  list-style: none;
  float:left;
}
.menu-banners .menu-banners-item a{
  background-color: #efefef;
  border: 1px solid white;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 21px;
  line-height: 32px;
  transition: background-color .2s;
}
.menu-banners .menu-banners-item a:hover{
  background-color: #e7e7e7;
}
.menu-banners .menu-banners-item a table{
  height: 240px;
  width: 100%;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(252,252,252,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.menu-banners .menu-banners-item a table td.banner-text-container{
  color: #000000;
  text-align: center;
  font-size: 17px;
  vertical-align: middle;
  height: 100px;
  line-height: 28px;
  padding: 20px 20% 0;
}
.menu-banners .menu-banners-item a table td.banner-image-container{
  vertical-align: bottom;
  line-height: 0px;
}
.menu-banners .menu-banners-item:first-child a{
  border-left: none!important;
}
.menu-banners .menu-banners-item:last-child a{
  border-right: none!important;
}




.news{
  padding-top: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e5e5;
}
.col-1-3{
  width: 30%;
  float: left;
  margin-right: 5%;
}
.col-1-3:last-child{
  margin-right: 0%;
}
.news a{
  color: #000000;
  text-decoration: none;
}
.news a:hover{
  color: #d72e5c;
}
.news h3{
  font-size: 17px;
  line-height: 26px;
  margin: 6px 0;
}
.news h3:after{
  content: "►";
  margin-left: 5px;
  font-size: 12px;
  vertical-align: 1px;
}
.news p{
  font-size: 17px;
  line-height: 26px;
  margin: 6px 0;
  color: #656565;
}



.seo{
  padding-top: 50px;
  padding-bottom: 25px;
}
.seo p {
  font-size: 15px;
  line-height: 24px;
  margin: 12px 0;
  color: #b2b2b2;
}



.footer{
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer h4{
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
}
.footer-made-in{
  color: #656565;
  padding-bottom: 80px;
}
.footer-made-in img{
  vertical-align: -8px;
  margin-left: 2px;
}
.footer a{
  display: block;
  color: #656565;
  text-decoration: none;
  line-height: 32px;
  font-size: 15px;
}
.footer a:hover{
  color: #d72e5c;
}
.footer .icon-social:before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: -3px;
  background: url("../images/icon-facebook.png") center center no-repeat;
}
.footer .icon-social-twitter:before{
  background-image: url("../images/icon-twitter.png");
}
.footer .icon-social-youtube:before{
  background-image: url("../images/icon-youtube.png");
}
.footer .icon-social-lj:before{
  background-image: url("../images/icon-lj.png");
}
p.footer-asteriks{
  color: #b2b2b2;
  font-size: 15px;
}
.fb-follow{
  height: 115px;
}



/*--------Calc page---------*/

.steps{
  padding: 0;
  padding-top: 20px;
  margin: 0;
  min-width: 1100px;
  padding-bottom: 15px;
}
.steps .step-item{
  width: 25%;
  list-style: none;
  float:left;
}
.steps .step-item a{
  background-color: #065389;
  border: 1px solid white;
  display: block;
  height: 50px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 50px;
  transition: background-color .2s;
}
.steps .step-item.active a{
  background-color: #ffffff!important;
  color: #000000;
  box-shadow: 0 3px 0 #d72e5c inset;
  pointer-events: none;
}
.steps .step-item a:hover{
  background-color: #1f81bf!important;
}
.steps .step-item:first-child a{
  border-left: none!important;
}
.steps .step-item:nth-child(1) a{
  background-color: #065389;
}
.steps .step-item:nth-child(2) a{
  background-color: #106296;
}
.steps .step-item:nth-child(3) a{
  background-color: #156da5;
}
.steps .step-item:nth-child(4) a{
  background-color: #1d76ae;
}
.steps .step-item:last-child a{
  border-right: none!important;
}


.calc-header-icon{
  margin-top: 20px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  box-shadow: 0 5px 10px #e6e6e6;
  background: url("../images/icon-calculator.png") center center no-repeat;
}
.calc-header-list{
  margin-top: 45px;
} 
.calc-header-list li{
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 12px;
  color: #666666;
  list-style: none;
}
.calc-header-list li:before{
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: -3px;
  background: url("../images/icon-checkmark.png") center center no-repeat;
}



.col-1-2{
  width: 50%;
  float: left;
}
.col-2-12{
  width: 17%;
  float: left;
}
.col-7-12{
  width: 58%;
  float: left;
}
.col-3-12{
  width: 25%;
  float: left;
}
.col-1-2-second{
  padding-top: 30px;
}


.clrfix:after{
  content: "";
  display: block;
  clear: both;
}
.hided{
  display: none;
}